[project]
	description = "Umbrello UML Modeller is a Unified Modelling Language (UML) diagram program based on KDE Technology.  UML allows you to create diagrams of software and other systems in a standard format to document or design the structure of your programs."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/unifiedmodellingtool
[access "refs/for/refs/*"]
	read = group user/unifiedmodellingtool
	push = group user/unifiedmodellingtool
	label-Code-Review = -2..+2 group user/unifiedmodellingtool
	label-Verified = -1..+1 group user/unifiedmodellingtool
	rebase = group user/unifiedmodellingtool
	removeReviewer = group user/unifiedmodellingtool
	submit = group user/unifiedmodellingtool
[access "refs/heads/*"]
	read = group user/unifiedmodellingtool
	create = group user/unifiedmodellingtool
	push = +force group user/unifiedmodellingtool
	pushMerge = group user/unifiedmodellingtool
[access "refs/tags/*"]
	push = +force group user/unifiedmodellingtool
	pushTag = group user/unifiedmodellingtool
	pushSignedTag = group user/unifiedmodellingtool
